.about-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-container .about {
  color: #edf5e1;
  font-size: 20px;
}
