@import "./reset.css";

html,
body,
#root {
  min-height: 100vh;
  width: 100%;
}

body {
  background-color: #05286b;
}

.container {
  margin: 0px 10%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .movies {
  margin: 10% auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(300px, auto);
  column-gap: 60px;
  row-gap: 60px;
}

.container .loader .loader_text {
  font-weight: bold;
  font-size: 20px;
  color: #edf5e1;
}
