.navigation {
  width: 100%;
  padding: 20px 10% 0 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  height: 50px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navigation a {
  text-decoration: none;
  color: #edf5e1;
  background-color: black;
  padding: 5px 10px;
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
}
